.button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: darkslateblue;
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.email {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.navbarUser {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: baseline;
}
