.email {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.navbarUser {
  display: flex;
  max-width: 800px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
